*{
    padding: 0;
    margin: 0;
}
.dropdown-toggle:hover{color: blue; text-decoration: underline blue;}
.nav-links:hover{color: blue; text-decoration: underline blue;}
.rice{ outline: none;border: none;}
.mom{height: 470px; object-fit: cover; width: 100%;}
.wa{position: relative;}
.we{position: absolute;}
.bg-image{background-image:linear-gradient(to left, rgba(0, 0, 0, 0.858) , rgba(0, 0, 0, 0.511) ), url('./Assets/cont-ed-1676659-3734290-0048-C-415x275.jpg'); height: 32rem; width:100%; background-size: cover;}
.wewek{ padding: 20px;}
.redeo{width: 28rem; border-radius: 7px;}
.redeod{width: 28rem; border-radius: 7px;}
 /* margin-left:5rem; margin-top: 5rem; */
 .backgroundofyourfamilypicture{background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.005) , rgba(0, 0, 0, 0.826)) ,url('./Assets/Arizona.png'); height: 15rem; width: 25rem; position: relative; border-radius: 4px;}
 .backgroundofyourfamilypictures{background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.005) , rgba(0, 0, 0, 0.826)) ,url('./Assets/Florida.png'); height: 15rem; width: 25rem; position: relative; border-radius: 4px;}
 .backgroundofyourfamilypicturez{background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.005) , rgba(0, 0, 0, 0.826)) ,url('./Assets/Minnesota.png'); height: 15rem; width: 25rem; position: relative; border-radius: 4px;}
 .backgroundofyourfamilypicturey{background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.005) , rgba(0, 0, 0, 0.826)) ,url('./Assets/Mayo\ Clinic\ Health\ System.png'); height: 15rem; width: 25rem; position: relative; border-radius: 4px;}
 .backgroundofyourfamilypictureq{background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.005) , rgba(0, 0, 0, 0.826)) ,url('./Assets/Mayo\ Clinic\ Healthcare\ London\ UK.png'); height: 15rem; width: 25rem; position: relative; border-radius: 4px;}
.bg-color{background-color: rgb(6, 6, 61) !important; width: 100% !important;}
.bg-colorz{background-color: rgb(7, 43, 105) !important; width: 100% !important; }
.bg-light{background-color: white !important; color: white !important;}
.bg-colorize{background-color: rgb(224, 230, 241) !important; width: 100% !important; }